@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
/* body{
    height: 100vh;
    width: 100%;
} */
.top ul{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
}
a{
    text-decoration: none;
    color: gray;
}
li{
    list-style:  none;
  
}
img{
    width: 12%;
    height: 12%;
    
}
 ul{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    color: grey;
}
.main{
    display: flex;

    background-color: rgba(255, 255, 255, 0.418)
}
hr{
    height: 2px;
    background-color: green;
    padding: 0;
}
p{
    font-size: 70px;
    margin-left: 2%;
}
#b1{
    font-size:25px;
}
#f1{
    width: 100%;
    height: 80%;

}
.mid{
    display: flex;
    align-content: space-around;
    /* align-items: stretch; */
    /* padding: 20px; */
     margin-right: 7%;
    font-size: x-large; 
    /* position: relative; */

}

#k1{
    width: 700px;
    height:450px;
    margin-left: 1%;
}
#n1 {
    font-size: 23px;
    display: flex;
    margin-left: 755px;
    margin-top: -418px;
    color: rgb(65, 57, 57);
}
#l1{
    font-size: 40px;
    margin-left: 2%;

    margin-top: 1%;
}
#p1{
    font-size: 40px;
    margin-left: 2%;

    margin-top: 1%;
}
#u1{
    font-size: 40px;
    margin-left: 2%;

    margin-top: 3%;
}
#m1{
    font-size: 40px;
    margin-left: 2%;

    margin-top: 8%;
}
#o1{
    font-size: 40px;
    margin-left: 2%;

    margin-top: 15%;
}
#w1{
    font-size: 40px;
    margin-left: 2%;

    margin-top: 13%;
}
a:hover{
    color: black;
    transition:.7s;
}

.footer{
    background-color: rgb(131, 127, 127);
    display: flex;
    margin-top: 10%;
    /* margin-left: 100px; */
    /* height: 400px; */
}
.f1{
    color: rgb(252, 247, 247);
    text-decoration: underline;
    margin-left: 40px;
    font-size: 18px;
}
h3{
    margin-left: 50px;
}
.j1{
    /* display: flex; */
    margin-left:8%;
}
.b{
    color: rgb(34, 32, 32);
    text-decoration: underline;
}
